Source: debmonitor-client
Section: admin
Priority: optional
Maintainer: Riccardo Coccioli <rcoccioli@wikimedia.org>
Uploaders: Moritz Muehlenhoff <moritz@wikimedia.org>
Standards-Version: 4.6.2
Build-Depends:
  debhelper-compat (= 12),
  dh-exec,
  dh-python,
  python3-all (>= 3.7),
  python3-apt,
  python3-pytest,
  python3-pytest-cov,
  python3-requests,
  python3-requests-mock,
  python3-setuptools,
  python3-setuptools-scm
Homepage: https://github.com/wikimedia/operations-software-debmonitor-client
Rules-Requires-Root: no

Package: debmonitor-client
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}, apt, python3-apt
Description: DebMonitor client - Debian packages tracker
 This is the client part of DebMonitor, a Debian packages tracker.
